aiohttp==3.7.4.post0
async-timeout==3.0.1
asyncpg==0.22.0
attrs==20.3.0
chardet==4.0.0
click==7.1.2
discord==1.0.1
discord-ext-menus==1.0.0a26+g84caae8
discord.py==1.6.0
dnspython==2.1.0
idna==3.1
lru-dict==1.1.7
multidict==5.1.0
parsedatetime==2.6
psutil==5.8.0
pymongo==3.11.3
python-dateutil==2.8.1
six==1.15.0
typing-extensions==3.7.4.3
yarl==1.6.3
youtube-dl==2021.3.14