[Unit]
Description=stargazerpy@%I
After=default.target

[Service]
WorkingDirectory=/home/stargazerpy/
ExecStart=/home/stargazerpy/StargazerPy/bin/python3.9 -um main.py %I
Type=idle
Restart=always
RestartSec=15
TimeoutStopSec=10

[Install]
WantedBy=default.target